@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card{
    @apply relative flex justify-center text-blue-400 bg-white rounded-lg shadow-md p-4 cursor-pointer  hover:bg-green-100 focus:outline-none focus:shadow;
}

.badge{
  @apply absolute flex text-blue-50 bg-blue-500 uppercase font-bold rounded-full py-1 px-2 -top-2 -right-4;
}
